*{
    padding: 0%;
    margin: 0%;
}
body{
    
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}
nav{
    background-color: cadetblue;
    /* text-align: center; */
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;  
}

header{
    text-align: center;
    padding: 10px 0;
}
.services{
    padding-top: 19px;
    text-align: center;
}
.img{
    display: flex;
    
 } 
 .text{
    display: flex;
}
.about{
    text-align: center;
    padding-top: 19px;
}
.project{
     padding-top: 19px;
    text-align: center;
    justify-content: space-around;
    height: 50px;
    
}
.contact{
     padding-top: 19px;
    background-color: cadetblue;
    flex-wrap:wrap;
}
footer{
     padding-top: 19px;
    background-color: darkslategray;
    flex-wrap:wrap;

}

